registry=https://registry.npmjs.org/
```[[1](https://www.google.com/url?sa=E&q=https%3A%2F%2Fvertexaisearch.cloud.google.com%2Fgrounding-api-redirect%2FAUZIYQEm1pI37PfKGcEHV5xaH3PR3eBpK84mGChL0dfCOVw0PZKxA_v1X7SZahbTVfEpVwH0zJ9ickroNr39i5Cbq9GN9o2YLy7Kwi27xp_4UyRiBQlvIxFvPOfijLjvXv-GR6_pDl5JEw73hMZ-Perkhpo8dLqGuXDkEs6MXdenDZ9gVlKgORq-Mmxo3RUt203lMyX8RPInbZit36wkYvbeYKVUzA%3D%3D)]